
#title-paragraph {
	position: absolute;
	top: 20px;
	left: 20px;
	color: #fff;
	background: rgba(0, 0, 0, 0.7); /*color black*/
	margin: 0;
	padding: 0px;
	pointer-events: none;
}



#frameLog {
	position: absolute;
	top: 37px;
	left: 20px;
	color: #fff;
	background: rgba(0, 0, 0, 0.7);
	margin: 0;
	padding: 0px;
	pointer-events: none;
}



#screen-log-zoom {
	position: absolute;
	top: 111px;
	left: 20px;
	color: #fa0;
	background: rgba(0, 0, 0, 1.0);
	margin: 0;
	padding: 0px;
	pointer-events: none;
}

#firstButton {
	position: absolute;
	top: 119px;
	left: 20px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.7);
	margin: 0;
	border: none;
	padding: 2px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	cursor: pointer;
}

/*Button Styling*/
.feature-btn {
	 position: absolute;                                                         
     top: 143px;                                                                 
     left: 20px;                                                                 
     color: #555555;
	 background-color: rgba(0, 0, 0, 0.7);                                       
     margin: 0;                                                                  
     border: none;                                                               
     padding: 2px 5px;  
	 font-family: monospace;
     text-align: center;
	 cursor: pointer;
	 transition: all 0.2s ease;
}

.feature-btn.active {
	color: #ffffff;
	text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}


